@import './themes.less';

.contentlayoutcontainer {
  width: 100vw;
  padding: calc(@navbar-height+3rem) 9%;
}

.contentlayoutdivider {
    border-top: 9px solid @primary-color;
}

.contentlayouttitlecontainer {
  display: flex;
  justify-content: flex-start;
  > h1 {
    color: @primary-color;
  }
}

.contentstarttext {
  text-align: start;
  font-size: @font-medium-size;
  margin-bottom: 4rem;
}