@import 'globalSettings.module.less';

.LandingPageFullWidthImagesContainer  { 
    position: relative;
    text-align: center;
    width: 100vw;
}


.ImageStyle { 
    filter: brightness(0.5);
    width: 100%;
}


// Needs to be changed
.LandingPageOverlayText { 
    position: absolute;
    margin: auto;
    z-index: 100;
    top: 7%;
    right: 0;
    left: 0;
    width: 75.3vw;
    color: #ffffff;
    font-size: 3.644rem; 
    font-weight: 400;
    text-align: left;
    line-height: 7.157rem;
    padding-left: 5%;
}

// Use strong to give first word emphasis 
.LandingPageOverlayText strong{ 
    color: #ffffff;
    font-size: 4.063rem; 
    font-weight: bold;
    border-bottom: 0.8rem solid #3b9ec2;
    margin-bottom: 0.1rem;
}

.ContentText { 
    line-height: 40px;
}

.TeamProfileRow {
    margin: 0 auto;
    // display: table;
}

.TeamProfileContainer { 
    padding-left: 5vw;
    padding-right: 5vw;
}