//@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry
@import 'globalSettings.module.less';
@import 'themes.less';

.MasterLayout {
  padding: 0;
}

.FooterLogo {
  padding: 1.25rem;
  max-width: 60%;
}

.MasterContent {
  flex-direction: column;
  display: flex;
  background-color: transparent;
  align-items: center;
}

.MasterContentNotHome { 
  &:extend(.MasterContent);
  padding-top: 3rem;
}

.MasterFooter {
  background-color: #DBDBDB;
  display: flex;
  align-items: flex-start;
  :hover { 
    transform: scale(1.01);
  }
}

.MasterFooterText {
  color: #ffff;
}

.Partners {
  height: 9.87rem;
  font-size: 1.62rem;
}

.MenuHeader {
  padding: 0;
  font-weight: normal;
  background-color: transparent;
  position: absolute;
  z-index: 100;
  height: @navbar-height;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.MenuCol {
  position: absolute;
  padding-right: 3rem;
  right: 0;
  align-items: right;
}
