//@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry
@import 'globalSettings.module.less';
@import 'themes.less';

.MasterLayout {
  width: 100vw;
  padding: 0;
}

.FooterLogo {
  display: flex;
  align-items: left;
  padding: 1.25rem;
  width: 48rem;
}

.MasterContent {
  flex-direction: column;
  display: flex;
  background-color: transparent;
  align-items: center;
}

.MasterFooter {
  background-color: #DBDBDB;
  text-align: center;
  width: 100vw;
}

.MasterFooterText {
  color: #ffff
}

.MenuHeader {
  width: 100%;
  font-weight: normal;
  padding: 0;
  background-color: transparent;
  position: absolute;
  z-index: 100;
  height: @navbar-height;
}

.MenuCol {
  position: absolute;
  padding-right: 3rem;
  right: 0;
  align-items: right;
}



