@import 'globalSettings.module.less';
@import 'themes.less';

@color: '#99999';

.MenuCol {
  position: absolute;
  padding-right: 3rem;
  right: 0;
  align-items: right;
}

.MenuWrap {
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 3em 0 3em;
}

.MenuBar {
  justify-content: right;
  width: 100%;
  font-size: 1.25rem;
  background-color: transparent;
  border: transparent;
  color: white;
  height: @navbar-height;
  align-items: center;
}

.MenuBarBlack {
  align-items: center;
  justify-content: right;
  width: 100%;
  font-size: 1.25rem;
  background-color: transparent;
  border: transparent;
  height: @navbar-height;
  color: black;
}

@media screen and (max-width: 900px) {
  .MenuBarBlack {
    background-color: white;
    border: 1px solid white;
    font-size: @mobile-font-size;
    padding: 1vw;
    float: left;
    height: auto;
    display: block;
  }
  .MenuBar {
    background-color: white;
    border: 1px solid white;
    font-size: @mobile-font-size;
    padding: 1vw;
    float: left;
    display: block;
    height: auto;
    color: black;
  }
}

.MenuItem * {
  margin: 20px;
}

.MenuRow {
  align-items: center;
}

.Logo {
  @media only screen and (max-width: @mobile-cutoff) {
    display: none;
  }
  margin-left: 1vw;
  width: 8.93rem;
  // height: calc(3rem + 1.5vw);
  //padding: 1rem;
  margin-right: auto;
  padding-top: 1%;
  transition: all .2s ease-in-out;
}

.Logo:hover{
  transform: scale(1.1);
}

.Logo:active {
  position: relative;
  top: 0.2vh;
}
