@import 'globalSettings.module.less';

.banner {
    position: relative;
    line-height: 20px;
    padding-top: 6px;
    background: #fff;
    height: 2.1rem;
    min-height: 30px;
    width: 100%;
    z-index: 101;
    text-align: center;
    font-size: 1rem;
}

// The color of the link text 
a {
    color: black;
}

strong {
    color: #0b688a;
}
