@import 'globalSettings.module.less';

.banner {
    position: relative;
    background: #fff;
    width: 100%;
    z-index: 101;
    text-align: center;
    font-size: 1rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    // The color of the link text 
    a {
        color: black;
    }

    strong {
        color: #0b688a;
    }
}

@media screen and (max-width: @mobile-cutoff){
    .banner {
        display: block;
        height: auto;
        line-height: 1.5rem;
        padding: 1rem;
    }
}